<html>
    <title>
        This is the login page of the project
        </title>
    <body>
        <form action= "" method= "POST">
            <input type= "text" name="username" placeholder=" user name">
            <input type= "password" name= "Password" placeholder="password">
            <input type= "submit" value="Login IN">
            
            
        </form>
        
        
        <p4> Trying the login age </p4>
    </body>
    </html>